.Holder {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.Holder h1 {
    width: 40%;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.Img {
    width: 40%;
}

.MovieRequestHolder ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.MovieRequestHolder {
    width: 55%;
}

.MovieRequestHolder input {
    width: 100%;
}